In [1]:
import pandas as pd
import random
from datetime import datetime

random.seed(42)

license_numbers = ['{:02d}-{:02d}-{:08d}'.format(random.randint(1, 99), random.randint(1, 12), random.randint(1, 99999999)) for _ in range(20)]

blood_groups = [random.choice(['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-']) for _ in range(20)]

name = [
    'Ram Thapa', 'Sita Shrestha', 'Hari Gurung', 'Gita Tamang', 'Mohan Lama',
    'Radha Magar', 'Krishna Rai', 'Sarita Sherpa', 'Bikash Karki', 'Nisha Bhandari',
    'Aarav Adhikari', 'Sneha Joshi', 'Pratik Shahi', 'Anju Bhattarai', 'Manish Maharjan',
    'Puja KC', 'Anil Khadka', 'Rita Rimal', 'Pratiksha Dahal', 'Dipesh Pokharel'
]
mobile_number = [
    '1234567890', '2345678901', '3456789012', '4567890123', '5678901234',
    '6789012345', '7890123456', '8901234567', '9012345678', '0123456789',
    '1234567800', '2345678902', '3456789013', '4567890124', '5678901235',
    '6789012346', '7890123457', '8901234568', '9012345679', '0123456790'
]
father_name = [
    'Ram Bahadur Thapa', 'Hari Prasad Shrestha', 'Gopal Krishna Gurung', 'Shyam Lal Tamang', 'Krishna Raj Lama',
    'Narayan Kumar Magar', 'Govinda Bahadur Rai', 'Shiva Narayan Sherpa', 'Bhagirath Bahadur Karki', 'Surya Bahadur Bhandari',
    'Rajan Bahadur Adhikari', 'Ramesh Bahadur Joshi', 'Suresh Kumar Shahi', 'Dinesh Raj Bhattarai', 'Bijay Bahadur Maharjan',
    'Ramesh Bahadur KC', 'Rajesh Bahadur Khadka', 'Ganesh Bahadur Rimal', 'Santosh Bahadur Dahal', 'Shyam Sundar Pokharel'
]

citizenship_numbers = ['{:03d}-{}-{}/{}'.format(random.randint(1, 999), random.randint(10000, 99999), random.randint(10000, 99999), random.randint(100000, 999999)) for _ in range(20)]

permanent_address = [
    "Baluwatar, Kathmandu, Nepal", "Lakeside, Pokhara, Nepal", "Chitwan National Park, Chitwan, Nepal",
    "Biratnagar, Morang, Nepal", "Bharatpur, Chitwan, Nepal", "Butwal, Rupandehi, Nepal", "Hetauda, Makwanpur, Nepal",
    "Janakpur, Dhanusa, Nepal", "Nepalgunj, Banke, Nepal", "Dharan, Sunsari, Nepal", "Birtamode, Jhapa, Nepal",
    "Dhangadhi, Kailali, Nepal", "Itahari, Sunsari, Nepal", "Bhaktapur, Bhaktapur, Nepal", "Kirtipur, Kathmandu, Nepal",
    "Lalitpur, Lalitpur, Nepal", "Ghorahi, Dang, Nepal", "Tansen, Palpa, Nepal", "Bidur, Nuwakot, Nepal", "Damak, Jhapa, Nepal"
]

temporary_address = [
    "Gongabu, Kathmandu, Nepal", "New Road, Pokhara, Nepal", "Pulchowk, Lalitpur, Nepal",
    "Bagbazar, Kathmandu, Nepal", "Balkumari, Lalitpur, Nepal", "Chabahil, Kathmandu, Nepal", "Kumaripati, Lalitpur, Nepal",
    "New Baneshwor, Kathmandu, Nepal", "Boudha, Kathmandu, Nepal", "Kalanki, Kathmandu, Nepal", "Sanepa, Lalitpur, Nepal",
    "Putalisadak, Kathmandu, Nepal", "Tinkune, Kathmandu, Nepal", "Sinamangal, Kathmandu, Nepal", "Thamel, Kathmandu, Nepal",
    "Jawalakhel, Lalitpur, Nepal", "Maitighar, Kathmandu, Nepal", "Buddhanagar, Kathmandu, Nepal", "Naxal, Kathmandu, Nepal", "Gaushala, Kathmandu, Nepal"
]

DOB = [
    datetime(1990, 1, 1), datetime(1991, 2, 2), datetime(1992, 3, 3), datetime(1993, 4, 4), datetime(1994, 5, 5),
    datetime(1995, 6, 6), datetime(1996, 7, 7), datetime(1997, 8, 8), datetime(1998, 9, 9), datetime(1999, 10, 10),
    datetime(2000, 11, 11), datetime(2001, 12, 12), datetime(1989, 1, 13), datetime(1988, 2, 14), datetime(1987, 3, 15),
    datetime(1986, 4, 16), datetime(1985, 5, 17), datetime(1984, 6, 18), datetime(1983, 7, 19), datetime(1982, 8, 20)
]

license_numbers = ['{:02d}-{:02d}-{:08d}'.format(random.randint(1, 99), random.randint(1, 12), random.randint(1, 99999999)) for _ in range(20)]

df = pd.DataFrame({
    'License Number': license_numbers,
    'Blood Group': blood_groups,
    'Name': name,
    'Mobile Number': mobile_number,
    'Father_Name': father_name,
    'Citizenship Number': citizenship_numbers,
    'Permanent_Address': permanent_address,
    'Temporary_Address': temporary_address,
    'Date of Birth': DOB
})

df.head()

,License Number,Blood Group,Name,Mobile Number,Father_Name,Citizenship Number,Permanent_Address,Temporary_Address,Date of Birth
0,15-05-58353205,AB+,Ram Thapa,1234567890,Ram Bahadur Thapa,624-93227-32431/660086,"Baluwatar, Kathmandu, Nepal","Gongabu, Kathmandu, Nepal",1990-01-01
1,21-08-00435579,AB-,Sita Shrestha,2345678901,Hari Prasad Shrestha,747-42087-31417/584714,"Lakeside, Pokhara, Nepal","New Road, Pokhara, Nepal",1991-02-02
2,93-12-35351480,B-,Hari Gurung,3456789012,Gopal Krishna Gurung,389-45382-93886/821590,"Chitwan National Park, Chitwan, Nepal","Pulchowk, Lalitpur, Nepal",1992-03-03
3,65-03-68139881,A-,Gita Tamang,4567890123,Shyam Lal Tamang,571-38785-99733/440035,"Biratnagar, Morang, Nepal","Bagbazar, Kathmandu, Nepal",1993-04-04
4,14-11-40056582,A+,Mohan Lama,5678901234,Krishna Raj Lama,864-17331-40021/961722,"Bharatpur, Chitwan, Nepal","Balkumari, Lalitpur, Nepal",1994-05-05

In [2]:
df.nunique()

License Number        20
Blood Group            8
Name                  20
Mobile Number         20
Father_Name           20
Citizenship Number    20
Permanent_Address     20
Temporary_Address     20
Date of Birth         20
dtype: int64

In [3]:
# df.to_csv('layout_5_license.csv', header=True, index=False)